.img-size{
  max-height: 140px;
}

.container{
  margin-top: 5rem;
}

.card-image{
  padding: 10px;
}

.card{
  cursor: pointer;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.anime-background{
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;
  background-color: #313131;
  animation: anime-background 2s ease-in-out;
  opacity: 0;
}

@keyframes anime-background {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}


