
<div class="anime-background">
</div>
<app-navbar></app-navbar>
<div class="background-list-generation">
  <div class="background-current-page">
    <div class="current-page">
      <p>Home </p>
    </div>
  </div>
  <div class="background-list">
    <img class="haut-poke" src="./assets/Pokeball-haut.png" alt="">
    <div class="container center slider-generation">
      <ng-image-slider
        class="ng-image-slider"
        [images]="generationList"
        [infinite]="true"
        [autoSlide]="3"
        [imageSize]="{width: '25%', height: 210}"
        slideImage="1"
        [manageImageRatio]="true"
        [lazyLoading]="true"
        [imagePopup]="true"
      ></ng-image-slider>
    </div>
    <img class="bas-poke" src="./assets/Pokeball-bas%20(1).png" alt="">
  </div>
</div>
