
.background-white{
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-list-generation{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #424242  url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.background-list{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes haut-poke {
  0% {
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%)  rotate(25deg);
  }
  25% {
    transform: translate(-50%, -50%)  rotate(-65deg);
  }
  100% {
    left: 17.5%;
  }
}

.haut-poke{
  height: 275px;
  width: 275px;
  transform: translate(-50%, -50%) rotate(-65deg);
  position: absolute;
  z-index: 3;
  animation: haut-poke 4s ease-in-out;
  top: 54%;
  left: 17.5%;
}

@keyframes bas-poke {
  0% {
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%)  rotate(25deg);
  }
  25% {
    transform: translate(-50%, -50%)  rotate(-65deg);
  }
  100% {
    left: 82%;
  }
}

.bas-poke{
  height: 275px;
  width: 275px;
  transform: translate(-50%, -50%) rotate(-66deg);
  position: absolute;
  animation: bas-poke 4s ease-in-out;
  top: 54%;
  left: 82%;
}

.slider-generation{
  animation: slider-generation 5.8s ease-in-out;
}

@keyframes slider-generation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.material-icons{
  color: grey;
}

.material-icons:hover{
  color: black;
  cursor: pointer;
}

.holder{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #313131;
  opacity: 1;
  z-index: 100;
}

.container{
  margin-top: 5rem;
}

.anime-background{
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;
  background-color: #313131;
  animation: anime-background 2s ease-in-out;
  opacity: 0;
}

@keyframes anime-background {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.current-page{
  position: absolute;
  width: 70%;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  height: 4rem;
}

.current-page p {
  font-size : 1.2rem;
  color: #adadad;
  margin-left: 2rem;
}

.background-current-page{
  width: 50%;
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png") ;
}
