html, body {
  width: 100%;
  height: 100%;
  font-family: monospace, sans-serif;
}

.parallax1 {
  background: url("https://c.wallhere.com/photos/b1/ef/Pok_mon_forest-2096373.jpg!d") fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.parallax2 {
  background: url("https://c.wallhere.com/photos/44/db/1500x900_px_pokemon-1707461.jpg!d") fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.parallax3 {
  background: url("https://c.wallhere.com/photos/b1/0a/1920x1200_px_Brendan_games_Latios_Motorbikes_pokemon_Ruby_vehicles-1876695.jpg!d") fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.parallax4 {
  background: url("https://c.wallhere.com/photos/93/38/2321x1645_px_Afternoon_day_Grovyle_pokemon_scenery-1708267.jpg!d") fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.message {
  width: 100%;
  color: white;
  height: 450px;
  background-color: #313131;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: 5rem;
}


.liste-jeux {
  width: 100%;
  color: white;
  height: 550px;
  background-color: #313131;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: 5rem;
}

.liste-jeux p {
    font-size: 1.1rem;
}

.message p {
  font-size: 1.2rem;
}

.message::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, transparent 0%, #313131 40%, transparent 60%);
}

.message::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, transparent 0%, #313131 40%, transparent 60%);
}

.holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  background-color: #313131;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-duration: 1s;
  z-index: 100;
}

.holder.active {
  opacity: 1;
  top: 0;
}

.icon-arrow{
  color: #d9fff2;
  opacity: 50%;
}

.icon-arrow:hover{
  color: white;
  opacity: 100%;
  cursor: pointer;
}

.anime-background{
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;
  background-color: #313131;
  animation: anime-background 2s ease-in-out;
  opacity: 0;
}

@keyframes anime-background {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

