

<div class="anime-background"></div>
<div class="holder" [ngClass]="{'active': clicked}"></div>


<div class="parallax1">
    <i (click)="goToHome()" class="material-icons icon-arrow medium">keyboard_backspace</i>
</div>

<div class="message">
  <p>
    Pokémon est une franchise créée par Satoshi Tajiri en 1996, présente en particulier en jeu vidéo, dans des séries
    éditées par Nintendo.
  </p>
  <p>
    Selon les statistiques de Nintendo en 2010, les jeux vidéos Pokémon se sont vendus à environ
    250 millions d'exemplaires.
  </p>
  <p>
    Le jeu vidéo Pokémon Rouge et Bleu s'est vendu à plus de de 30 millions d'exemplaires, ce qui en fait un record des
    ventes dans l'histoire du jeu vidéo.
  </p>
</div>

<div class="parallax2"></div>

<div class="message">
  <p>
    La franchise est également exploitée sous forme d'animé, de mangas, et de jeux de cartes à collectionner.
  </p>
  <p>
    Dans la série animée, le personnage principal, Sacha, voyage à travers diverses régions fictives dans le but
    d'attraper de nouvelles sortes de monstres éponymes (un concept que l'on retrouve également dans les jeux vidéos de
    la franchise).
  </p>
  <p>
    Pokémon a eu un impact culturel très important dans les pays où il à été introduit, dont le Japon, les Etats-Unis,
    le Canada, la France et d'autres pays européens.
  </p>
</div>

<div class="parallax3"></div>

<div class="message">
  <p>
    Les jeux vidéo Pokémon sont, à leurs origines, une série de jeux vidéo de rôle développé par Game Freak et publié
    par Nitendo.
  </p>
  <p>
    La licence est, par la suite, déclinée en plusieurs genres de jeu vidéo différents.
  </p>
  <p>
    La série principale se compose, au Japon, de dix-neuf jeux de rôle et de six rééditions ayant pour personnage
    principal un jeune enfant de dix ans. Il récupère sa première créature, appelé « Pokémon », au laboratoire du
    professeur Pokémon de sa région. Excepté dans la version Jaune, dans laquelle le joueur se voit attribuer un
    Pikachu, il peut choisir une espèce parmi les trois proposées.
  </p>
</div>

<div class="parallax4"></div>

<div class="liste-jeux">
  <h5>
    Liste des jeux vidéo Pokémon :
  </h5>
  <p>
    -Pokémon Vert, Rouge et Bleu <br>
    -Pokémon Jaune <br>
    -Pokémon Or et Argent <br>
    -Pokémon Cristal <br>
    -Pokémon Rubis et Saphir <br>
    -Pokémon Rouge Feu et Vert Feuille <br>
    -Pokémon Emeraude <br>
    -Pokémon Diamant et Perle <br>
    -Pokémon Platine <br>
    -Pokémon Or HeartGold et Argent SoulSilver <br>
    -Pokémon Noir et Blanc <br>
    -Pokémon Noir2 et Blanc2 <br>
    -Pokémon X et Y <br>
    -Pokémon Omega Ruby et Alpha Saphire <br>
    -Pokémon Soleil et Lune <br>
    -Pokémon Ultra Sun et Ultra Moon <br>
  </p>


</div>
