<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

<nav>
  <div class="nav-wrapper display-list">
    <a  (click)="goToHome()" class="black-text left"><img width="50px" height="50px" class="circle responsive-img logo-pokeball left" src="../assets/pokeball.ico" alt=""></a>
    <ul class="space">
      <li class=""><a (click)="goToHome()">HOME</a></li>
      <li class="active"><a (click)="goToPokedex()">POKEDEX</a></li>
      <li class=""><a href="">JOUER</a></li>
    </ul>
  </div>
</nav>



<div class="position-liste">
  <router-outlet></router-outlet>
</div>

</body>
</html>

