<div class="holder" [ngClass]="{'active': clicked}"></div>

<nav class="navbar">
  <div class="nav-wrapper">
    <ul id="liContainer">
      <li (click)="goToHome()" class="liElement li-home nav-wrapper">
        <span class="span-title">Home</span>
      </li>
      <li (click)="goToPokedex()" class="liElement li-pokedex nav-wrapper">
        <span class="span-title">Pokédex</span>
      </li>
      <li class="liElement li-play nav-wrapper">
        <span class="span-title">Jouer</span>
      </li>
      <li (click)="goToInfos()" class="liElement li-infos nav-wrapper">
        <span class="span-title">Infos</span>
      </li>
      <ul *ngIf="!logged" class="dropdown-account">
        <li class="liElement li-account nav-wrapper"><span class="span-title">Account</span>
          <ul>
            <li (click)="goToLogin()"><a>Login</a></li>
            <li (click)="goToRegister()"><a>Register</a></li>
          </ul>
        </li>
      </ul>
      <ul class="dropdown-account" *ngIf="logged">
        <li class="liElement li-account nav-wrapper">
          <span class="span-icon-account">
            <i class="material-icons">account_circle</i>
          </span>
          <ul>
            <li><a>{{user.username}}</a></li>
            <li><a>Paramètres</a></li>
            <li><a>Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </ul>
  </div>
</nav>

