.navbar{
  width: 100%;
  height: 5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: center;
  border-bottom: solid 1px grey;
}

.container-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-list:hover{
  background-color: transparent;
  cursor: pointer;
}

.container-list span {
  color: #464646;
}

.container-list span:hover {
  font-weight: bolder;
  color: white;
}

.liElement{
  height: 100%;
  width: 7rem;
  justify-content: center;
}


.li-home{
  color: #313131;
}

.li-home::after{
  background-color: #919191;
  border-radius: 0 0 0 10px;
}

.li-home:hover{
  background-color: #919191;
  color: white;
  cursor: pointer;
}

.navbar ul .liElement::after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  z-index: 1;
  height: 6px;
}

.li-pokedex{
  color: #313131;
}

.li-pokedex::after{
  background-color: #E3350D;
}

.li-pokedex:hover{
  background-color: #E3350D;
  color: white;
  cursor: pointer;
}

.li-play{
  color: #313131;
}

.li-play::after{
  background-color: #E6BC2F;
}

.li-play:hover{
  background-color: #E6BC2F;
  color: white;
  cursor: pointer;
}

#liContainer{
  display:flex;
  height: 100%;
}

.span-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 100%;
}

.li-infos{
  color: #313131;
}

.li-infos::after{
  background-color: #1B53BA;
  border-radius: 0 0 10px 0;
}

.li-infos:hover{
  background-color: #1B53BA;
  color: white;
  cursor: pointer;
}

.holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  background-color: #313131;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-duration: 0.5s;
  z-index: 100;
}

.holder.active {
  opacity: 1;
  top: 0;
}

.dropdown-account{
  display:flex;
  justify-content: center;
  height: 100%;
  margin-left: 6rem;
}

.dropdown-account li a {
  color: black;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.dropdown-account li{
  display: block;
  transition-duration: 0.5s;
}

.dropdown-account li:hover{
  cursor: pointer;
}

.dropdown-account li ul{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
}

.dropdown-account  li:hover > ul,
.dropdown-account li ul:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 10000000;
  background-color: #606060;
}

.dropdown-account li ul li {
  clear: both;
  width: 100%;
}

.dropdown-account li ul li a {
  color: white;
  text-decoration: none;
}


.li-account{
  color: #464646;
}

.li-account::after{
  background-color: #606060;
  border-radius: 0 0 10px 10px;
}

.li-account:hover{
  background-color: #606060;
  color: white;
  cursor: pointer;
}






























